.button-icon {
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.1s ease;
}

.button-icon:hover {
  opacity: 0.6;
}

.button-icon_action_edit:focus {
  outline: none;
  opacity: 0.5;
}
.button-icon_action_edit::-moz-focus-inner {
  border: 0;
}