.button-icon_action_close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.button-icon_action_close:hover {
  opacity: 0.6;
}

.button-icon_action_close:focus {
  outline: none;
  opacity: 0.6;
}
.button-icon_action_close::-moz-focus-inner {
  border: 0;
}

@media screen and (max-width: 576px) {
  .button-icon_action_close {
    right: 0;
    top: -35px;
    width: 20px;
    height: 20px;
  }
}