.form__submit-btn {
  border: none;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.82;
  margin: 48px 0 0;
  box-sizing: border-box;
  padding: 17px;
  border-radius: 2px;
}

@media screen and (max-width: 400px) {
  .form__submit-btn {
    font-size: 14px;
    margin: 45px 0 0;
  }
}